Node-Red-Flow/flow.json
[{"id":"2227635a.b24a4c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"eaadb788.6630b8","type":"function","z":"2227635a.b24a4c","name":"Set Variables","func":"global.set(\"ctry\",msg.payload.ctry)\nglobal.set(\"yr\",msg.payload.yr)\nglobal.set(\"sts\",msg.payload.sts)\nglobal.set(\"adult_mor\",msg.payload.adult_mor)\nglobal.set(\"inf_deaths\",msg.payload.inf_deaths)\nglobal.set(\"alcohol\",msg.payload.alcohol)\nglobal.set(\"per_expend\",msg.payload.per_expend)\nglobal.set(\"measles\",msg.payload.measles)\nglobal.set(\"bmi\",msg.payload.bmi)\nglobal.set(\"under_five_deaths\",msg.payload.under_five_deaths)\nglobal.set(\"polio\",msg.payload.polio)\nglobal.set(\"diptheria\",msg.payload.diptheria)\nglobal.set(\"hiv_aids\",msg.payload.hiv_aids)\nglobal.set(\"gdp\",msg.payload.gdp)\nglobal.set(\"thinness\",msg.payload.thinness)\nglobal.set(\"hdi\",msg.payload.hdi)\nglobal.set(\"edu_index\",msg.payload.edu_index)\nvar apikey=\"gHX4ABRU-VFFzwPyGUejEecXptY2IN0jnwv3eFMkIBNj\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"x":170,"y":300,"wires":[["db683a27.e9acd8"]]},{"id":"db683a27.e9acd8","type":"http request","z":"2227635a.b24a4c","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":350,"y":360,"wires":[["15db6b78.a7cb75","ca6409fc.75f6b8"]]},{"id":"688c698d.9ec098","type":"debug","z":"2227635a.b24a4c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":710,"y":180,"wires":[]},{"id":"ca6409fc.75f6b8","type":"function","z":"2227635a.b24a4c","name":"Prepare Message","func":"var ctry = global.get('ctry')\nvar yr = global.get('yr')\nvar sts = global.get('sts')\nvar adult_mor = global.get('adult_mor')\nvar inf_deaths = global.get('inf_deaths')\nvar alcohol = global.get('alcohol')\nvar per_expend = global.get('per_expend')\nvar measles = global.get('measles')\nvar bmi = global.get('bmi')\nvar under_five_deaths = global.get('under_five_deaths')\nvar polio = global.get('polio')\nvar diptheria = global.get('diptheria')\nvar hiv_aids = global.get('hiv_aids')\nvar gdp = global.get('gdp')\nvar thinness = global.get('thinness')\nvar hdi = global.get('hdi')\nvar edu_index = global.get('edu_index')\nvar token=msg.payload.access_token\nvar instance_id=\"bc25ad35-e9fb-49c2-958d-b658e1a28d6d\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"fields\":[\"Country\", \"Year\", \"Status\", \"Adult Mortality\",\"infant deaths\", \"Alcohol\", \"percentage expenditure\", \"Measles\",\" BMI \", \"under-five deaths \", \"Polio\", \"Diphtheria\", \" HIV/AIDS\",\"GDP\", \" thinness  1-19 years\", \"Income composition of resources\",\"Schooling\"],\"values\":[[ctry,yr,sts,adult_mor,inf_deaths,alcohol,per_expend,measles,bmi,under_five_deaths,polio,diptheria,hiv_aids,gdp,thinness,hdi,edu_index]]}\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":220,"wires":[["ad32b620.07db98"]]},{"id":"ad32b620.07db98","type":"http request","z":"2227635a.b24a4c","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/bc25ad35-e9fb-49c2-958d-b658e1a28d6d/deployments/1e912bc3-7fef-47ba-ba4d-8b175c44a0eb/online","tls":"","persist":false,"proxy":"","authType":"","x":630,"y":280,"wires":[["4b8eaeee.ffb9e","29707f81.77f6d"]]},{"id":"6e552812.98f3b8","type":"ui_form","z":"2227635a.b24a4c","name":"","label":"","group":"36d16e03.7fff62","order":0,"width":0,"height":0,"options":[{"label":"Country","value":"ctry","type":"text","required":true,"rows":null},{"label":"Year","value":"yr","type":"number","required":true,"rows":null},{"label":"Status","value":"sts","type":"text","required":true,"rows":null},{"label":"Adult Mortality","value":"adult_mor","type":"number","required":true,"rows":null},{"label":"Infant deaths","value":"inf_deaths","type":"number","required":true,"rows":null},{"label":"Alchohol","value":"alcohol","type":"number","required":true,"rows":null},{"label":"Percentage Expenditure","value":"per_expend","type":"number","required":true,"rows":null},{"label":"Measles","value":"measles","type":"number","required":true,"rows":null},{"label":"BMI","value":"bmi","type":"number","required":true,"rows":null},{"label":"Under five deaths","value":"under_five_deaths","type":"number","required":true,"rows":null},{"label":"Polio","value":"polio","type":"number","required":true,"rows":null},{"label":"Diptheria","value":"diptheria","type":"number","required":true,"rows":null},{"label":"HIV / AIDS","value":"hiv_aids","type":"number","required":true,"rows":null},{"label":"GDP","value":"gdp","type":"number","required":true,"rows":null},{"label":"Thinness 1-19 Years","value":"thinness","type":"number","required":true,"rows":null},{"label":"Income Composition of Resources","value":"hdi","type":"number","required":true,"rows":null},{"label":"Schooling","value":"edu_index","type":"number","required":true,"rows":null}],"formValue":{"ctry":"","yr":"","sts":"","adult_mor":"","inf_deaths":"","alcohol":"","per_expend":"","measles":"","bmi":"","under_five_deaths":"","polio":"","diptheria":"","hiv_aids":"","gdp":"","thinness":"","hdi":"","edu_index":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":70,"y":180,"wires":[["eaadb788.6630b8"]]},{"id":"87759088.9d68c","type":"ui_text","z":"2227635a.b24a4c","group":"36d16e03.7fff62","order":1,"width":0,"height":0,"name":"","label":"Life Expectancy","format":"{{msg.payload}}","layout":"row-spread","x":480,"y":40,"wires":[]},{"id":"29707f81.77f6d","type":"function","z":"2227635a.b24a4c","name":"Retrieve Prediction","func":"msg.payload=msg.payload.values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":120,"wires":[["688c698d.9ec098","87759088.9d68c"]]},{"id":"15db6b78.a7cb75","type":"debug","z":"2227635a.b24a4c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":430,"y":460,"wires":[]},{"id":"4b8eaeee.ffb9e","type":"debug","z":"2227635a.b24a4c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":710,"y":380,"wires":[]},{"id":"36d16e03.7fff62","type":"ui_group","z":"","name":"Life Expectancy Prediction","tab":"b54ee5e.a5e6c18","order":1,"disp":true,"width":"6","collapse":false},{"id":"b54ee5e.a5e6c18","type":"ui_tab","z":"","name":"Home Page","icon":"dashboard","disabled":false,"hidden":false}]